.footer {
  height: auto;
  width: auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  background-color: $grey;
  color: white;
  & .logo--white {
    color: white;
    fill: white;
    width: 50%;
    height: auto;
  }
  & ul {
    padding: 0;
    list-style: none;
    @include h4;
    font-weight: 300;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    & li {
      display: flex;
      place-items: center;
      gap: 0.8em;
      & img {
        margin: 0%;
        padding: 0%;
        width: 1em;
      }
    }
  }
}
