.footer {
  height: auto;
  width: auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  background-color: $grey;
  color: white;
  @media screen and (min-width: 768px) {
    padding: 2em 0em;
    place-items: end;
  }
  & .logo__container__footer {
    @media screen and (min-width: 768px) {
      order: 2;
      margin-left: 4em;
      height: 2em;
    }
    & .logo--white {
      color: white;
      fill: white;
      width: auto;
      height: 100%;
    }
  }
  & ul {
    padding: 0;
    list-style: none;
    @include h4;
    font-weight: 300;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-end;
      gap: 2em;
    }
    & li {
      display: flex;
      place-items: center;
      gap: 0.8em;
      @media screen and (min-width: 768px) {
        order: 1;
      }
      & img {
        margin: 0%;
        padding: 0%;
        width: 1em;
      }
    }
  }
}
