@import 'mixins.scss';
$purple: #9356dc;

$blue: #003a68;
$lightBlue: #89c8fa;

$green: #008766;
$lightGreen: #99e2d0;

$lightGrey: #eaeaea;
$grey: #353535;

$lightCream: #f6f6f6;
$font-family: 'Roboto', sans-serif;
body {
  background-color: $lightCream;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}
h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
p {
  @include p;
}
a {
  text-decoration: none;
  color: #000;
  :visited {
    color: black;
  }
}
button,
.button {
  @include button;
}
