{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html",
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        }
    ]
}