@keyframes l19 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}
@keyframes isLoading {
  0% {
    opacity: 1;
    backdrop-filter: blur(10px);
  }

  90% {
    opacity: 1;
    backdrop-filter: blur(10px);
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
    z-index: -1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
