@import '../utils/variables';
.heart-icon {
  display: block;
  background-image: url('/assets/icons/heart-icon.svg');
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
}
.heart-icon-active {
  display: none;
  background-image: url('/assets/icons/heart-icon-gradient.svg');
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
}
.heart-container {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 10;
  width: 20px;
  height: 20px;
  font-size: 1.5em;

  &:hover .heart-icon {
    display: none;
  }
  &:hover .heart-icon-active {
    display: block;
  }
}
.heart-container-menu {
  z-index: 10;
  width: 20px;
  height: 20px;
  font-size: 1.5em;

  .heart-icon-active {
    display: none;
  }
  &:hover .heart-icon {
    display: none;
  }
  &:hover .heart-icon-active {
    display: block;
  }
}
