@import '../utils/mixins';

.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: whitesmoke;
  z-index: 1000;
  top: 0%;
  left: 0%;
  animation: isLoading 4s forwards;

  .loader {
    width: 60px;
    height: 60px;
    background-image: url('/assets/icons/heart-icon-gradient.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: HeartBeat 2s infinite linear;
  }
}
