.about__section {
  background-color: white;
  width: auto;
  height: auto;
  padding: 10% 1.5em;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding: 5% 10%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    list-style: none;
    gap: 2em;
    padding: 0;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin-top: 2em;
    }
    &--items {
      position: relative;
      font-size: 1rem;
      font-weight: 700;
      list-style: none;
      background-color: $lightCream;
      border-radius: 40px;
      width: 80%;
      height: auto;
      min-height: 70px;
      padding: 1em 2em;
      gap: 1.5em;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 4px 15px 0px #00000026;
      @media screen and (min-width: 768px) {
      }
      & .number {
        position: absolute;
        top: 35%;
        left: -3.5%;
        background-color: $purple;
        border-radius: 100%;
        height: 1em;
        width: 1em;
        padding: 0.5em;
        color: white;
      }

      & img {
        width: 1.2em;
      }
    }
  }
}
