@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.menu__main {
  position: relative;
  height: auto;
  padding: 0;
  background-color: white;
  z-index: 1;
  margin: 0;

  & img {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    @media screen and (min-width: 768px) {
      height: 50vh;
    }
  }

  & .menu__section {
    position: inherit;
    z-index: 10;
    border-radius: 40px 40px 0 0;
    padding: 10% 1.5em;
    background-color: $lightCream;
    margin-top: -5vh;
    margin-inline: auto;
    // Mobile version
    @media screen and (max-width: 768px) {
      width: 97vw;
      padding: 5% 0.5em;
    }
    // Tablet/Desktop version
    @media screen and (min-width: 768px) {
      width: 70vw;
      margin-inline: auto;
      padding: 5% 1.5em;
    }
    &__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 0;
      margin-right: 10%;
      margin-left: 5%;
      padding: 0;
      @media screen and (min-width: 768px) {
        gap: 1em;
        padding: 0 1em;
        justify-content: center;
        margin-right: 0;
        margin-left: 5%;
      }
      &--title {
        font-family: $font-shrikhand;
        font-size: 2.2em;
        font-weight: 500;
        color: $grey;
        margin-bottom: 1em;
        margin: 0;
        padding: 0;
        text-wrap: nowrap;
        // Mobile version
        @media screen and (max-width: 768px) {
          font-size: 2em;
        }
      }
    }
    &__content {
      margin-top: 3em;
      width: 100%;
      gap: 2em;
      display: flex;
      flex-direction: column;
      //  Gestion des animations des éléments du menu //
      & > :nth-child(1) {
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
      }
      & > :nth-child(2) {
        opacity: 0;
        animation: fadeIn 1s ease-out 0.5s forwards;
      }
      & > :nth-child(3) {
        opacity: 0;
        animation: fadeIn 1s ease-out 0.8s forwards;
      }
      // Fin de la gestion des animations //
      &__item {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-items: start;
        align-items: start;
        padding-left: 1em;
        padding-right: 1em;
        // Mobile version
        @media screen and (max-width: 768px) {
          width: 93%;
        }
        &--title {
          border-bottom: 4px solid $lightGreen;
          width: 15%;
          max-width: 40px;
          padding-bottom: 5px;
          & h2 {
            font-size: 1.2em;
            font-weight: 300;
          }
        }
        &__dish__container {
          list-style: none;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0;
          gap: 1em;
          &__item {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            width: auto;
            height: fit-content;
            box-shadow: 0px 4.01px 15.04px 0px #0000001a;
            & .item_text {
              padding: 1em;
              flex-grow: 1;
              flex-shrink: 1; // Permet au texte de se rétrécir
              overflow: hidden; // Nécessaire pour 'ellipsis'
              width: 550px;
              z-index: 110;
              & h3 {
                font-size: clamp(1em, 3vw, 2em);
                text-wrap: nowrap;
              }
              & p {
                font-size: clamp(1.1em, 2vw, 1.5em);
                font-weight: 300;
                color: $grey;
                margin-top: 0.4em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
            & .price-container {
              width: 25%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              padding: 0;
              margin: 0;
              & .checked-panel {
                border-radius: 0 20px 20px 0;
                background-color: $lightGreen;
                display: flex;
                width: 0;
                height: clamp(120px, 120px, 7vh);

                justify-content: center;
                align-items: center;
                transform: scale(1);
                transition: all 0.3s ease-in-out;
                opacity: 0;
              }

              & span {
                font-weight: 700;
                font-size: 1.2em;
                margin-right: 1em;
                margin-bottom: 1em;
                margin-top: 0;
                margin-left: 0;
                padding: 0;
              }
            }
            &:hover {
              & .price-container {
                // height: 100%;
                & span {
                  transform: translateX(-0.3em);
                  transition: all 0.5s ease-in-out;
                  // height: 100%;
                }
                & .checked-panel {
                  display: inline-flex;
                  width: 100px;
                  transform: scaleX(1.2);
                  opacity: 1;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
    & .cta__button {
      width: 100%;
      margin-top: 3em;
      display: flex;
      justify-content: center;
      & a {
        min-width: 10em;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
